<% provide(:title, "Comparing v#{@first.version}, v#{@second.version} - #{@script.name}") %>
<div class="row"><h3><%= @script.name %></h3></div>

<div class="row">
  <%= render "diff_side", side: { audit: @first, diff: @diff.left } %>
  <%= render "diff_side", side: { audit: @second, diff: @diff.right } %>
</div>