<% provide(:title, "Projects") %>
<div class="row">
  <h3>Projects</h3>
  
  <table width="100%" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Language</th>
      </tr>
    </thead>
  
    <tbody>
      <% @visible_projects.each do |project| %>
        <tr>
          <td><strong><%= link_to project.name, project %></strong></td>
          <td><%= project.language %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <% if current_user.admin? %><%= link_to 'New Project', new_project_path %><% end %>
</div>
