<h3>Projects</h3>

<table width="100%" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><strong><%= link_to project.name, project %></strong></td>
        <td><%= project.language %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
