/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/resizable
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";

// Bootstrap body padding for fixed navbar
body { padding-top: 80px; }

.alert-notice {
  @extend .alert-success;
}

.dataTables_wrapper {
  select {
    margin: 8px;
  }
  
  .paginate_button {
    @extend .btn-sm;
    padding: 0;
  }
}

/* Script editor */

#script_editor {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 500px;
  border: 1px solid #808080;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
  line-height: 1.4em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.script_editor_two_pane {
  #script_editor_container {
    @extend .col-sm-9;
  }
  #script_note_pane {
    @extend .col-sm-3;
  }
}

.ace-twilight {
  .ace_tlstatus.ace_no-comment-code {
    color: #CF6A4C;
  }
  
  .ace_tlstatus.ace_code {
    font-style: italic;
    color: #5F5A60;
  }
  
  .ace_tlstatus.ace_note {
    color: #CF6A4C;
    font-weight: bold;
  }
}

/* Project show */

#project_members {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 45%;
  }
}