/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/resizable
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";

@font-face {
  font-family: 'tlstatus-icons';
  src: font-url('tlstatus-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-hoppy:before { content: '\e800'; } /* 'î €' */

.tlstatus-icon { 
  font-family: 'tlstatus-icons';
  padding-right: 8px;
  vertical-align: top;
}

body {
  padding-bottom: 50px;
}

.invisible {
  display: none;
}

.full_page_width {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.navbar_development {
  background: $alert-danger-bg;
}

.alert-notice {
  @extend .alert-success;
}

.btn .glyphicon, .nav .glyphicon {
  padding-right: 8px;
}

.panel {
  word-break: break-word;
}

.dataTables_wrapper {
  select {
    margin: 8px;
  }
  
  .paginate_button {
    @extend .btn-sm;
    padding: 0;
  }
}

.with_avatar {
  .avatar {
    width: 82px;
    float: left;
    height: 100%;
    margin-top: 4px;
    img {
      border-radius: 50%;
    }
  }
  .content {
    margin-left: 82px;
    height: 100%;
  }
}

ul.panel_list {
  list-style: none;
  padding-left: 0;
  li {
    padding: 8px;
    margin-bottom: 8px;
  }
}

/* Script editor */

#script_editor {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 500px;
  border: 1px solid #808080;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
  line-height: 1.4em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.script_editor_two_pane {
  #script_editor_container {
    @extend .col-sm-9;
  }
  #script_note_pane {
    @extend .col-sm-3;
    .panel_list {
      height: 650px;
      overflow-y: scroll;
    }
  }
}

#script_editor.ace-twilight {
  .ace_tlstatus.ace_no-comment-code {
    color: #CF6A4C;
  }
  
  .ace_tlstatus.ace_code {
    font-style: italic;
    color: #5F5A60;
  }
  
  .ace_tlstatus.ace_note {
    color: #CF6A4C;
    font-weight: bold;
  }
  
  .ace_comment {
    color: #43929E;
  }
}

.diff_side {
  h4 {
    margin-top: 0;
  }
  
  /* Mostly Diffy suggestions */
  .diff{overflow:auto; background-color: #141414; border: 1px solid #808080; border-radius: 4px; padding: 8px;}
  .diff ul{overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
  .diff del, .diff ins{display:block;text-decoration:none;}
  .diff li{padding:0; display:table-row;margin: 0;height:1em;}
  .diff li.ins{background:#dfd; color:#080}
  .diff li.del{background:#fee; color:#b00}
  /* try 'whitespace:pre;' if you don't want lines to wrap */
  .diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;}
  .diff del strong{font-weight:normal;background:#fcc;}
  .diff ins strong{font-weight:normal;background:#9f9;}
  .diff li.diff-comment { display: none; }
  .diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
}

/* Project show */

#project_members {
  li {
    margin-right: 8px;
    width: 45%;
  }
}

#scripts_table {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.stage_progress {
  margin-top: 5px; // hack
  margin-bottom: 0;
  background: $panel-bg;
}

/* User show */

.user_profile {
  h3 {
    margin-top: 0;
  }
}